# Java
*.class
*.jar
*.war
*.ear

.vscode
# Directorios de compilación de Maven
**/target/

# Configuración de IntelliJ IDEA
.idea/
*.iml
*.iws

# Logs
*.log
logs/
**/log/

# Node.js
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
**/docker-compose.override.yml
*.env

# Archivos de configuración local
.env
*.env.local

# Archivos temporales
*.tmp
*.swp
